{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block resetPass %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<div class="mdpContainer">
    <div class="mdpChamps">
        {{ form_label(form.current_password )}}
        {{ form_widget(form.current_password,{ 'attr': {'placeholder': 'Mot de passe actuel'}}) }}
    </div>
    <div class="mdpChamps">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first,{ 'attr': {'placeholder': 'Nouveau mot de passe'}}) }}
    </div>
    <div class="mdpChamps">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second,{ 'attr': {'placeholder': 'Nouveau mot de passe confirmation'}}) }}
    </div>
</div>
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}" />
</div>
{% endblock %}
